html{
    height: 100%;
}

body{
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* index.html page */

#data{
    width: 600px;
    border: 1px dashed black;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 20px;
}

#logo {
    width: 320px; height: 320px;
    margin: 0 auto;
    margin-top: 50px;
    display: block;

}

/* about.html page */

section{
    text-align: center;
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
}

article{
    text-align: center;
    margin-bottom: 15px;
    margin-left: 150px;
    margin-right: 150px;
}



/* contact us page */

#ContacUsSection{
    text-align: center;
}

/* jokes category page */
.button-container{
    text-align: center;
}

#dev, #animal, #science, #explicit{
    margin-top: 10px;
    text-align: center;
}

#explicit{
    margin-bottom: 10px;
}

#joke,#joke1,#joke2,#joke3,#joke4 {
    width: 300px;
    border: 1px dashed black;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    
}


/* search page */

#search-form,
#search-input {
    margin-top: 30px;
    background-color: #fff;
    text-align: center;
}

/* Set the input element to have a height of 40px and 20px padding */
#search-input {
    height: 40px;
    padding: 0 20px;
}


/* Set the container for the search results to have a white background and a dark gray border */

#jokes{
    width: 600px;
    border: 1px dashed black;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
}
