#nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color:black;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    color: #ea1538;
    transition: .3s;
}

#joke,#joke1,#joke2,#joke3,#joke4{
    display: inline-block;
    width: 300px;
    border: 1px dashed black;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    
}

#new,#new1,#new2,#new3,#new5{
    flex: auto;
    display: inline-block;
}



#logo {
    width: 320px; height: 320px;
    margin: 0 auto;
    margin-top: 50px;
    display: block;

}

footer{
    margin-top: 400px;
    bottom: 0;
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: linear-gradient(315deg, #ffffff, #d7e1ec);
}
li{
    display:inline-block;
    padding:10px;
}

/*
#button, #button1, #button2, #button3, #button4 {
    margin: 0 auto;
    margin-top: 10px;
    display: block;
    
    
}
*/


/*
#button1 {
    margin: 0 auto;
    margin-top: 10px;
    display: block;
}

#button2 {
    margin: 0 auto;
    margin-top: 10px;
    display: block;
}
*/
/*
#data{
    width: 600px;
    border: 1px dashed black;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
}

#logo {
    width: 320px; height: 320px;
    margin: 0 auto;
    margin-top: 50px;
    display: block;

}

#menu, #category-select{
    width: 150px; height: 32px;
    margin: 0 auto;
    margin-top: 50px;
    display: block;
}
*/