#nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

#data , #category-select{
    width: 600px;
    border: 1px dashed black;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
}
#logo {
    width: 320px; height: 320px;
    margin: 0 auto;
    margin-top: 50px;
    display: block;

}
/*
#button, #button1, #button2, #button3, #button4 {
    margin: 0 auto;
    margin-top: 10px;
    display: block;
    
    
}
*/
.button-container {
    text-align: center; /* aligns the buttons horizontally */
}
.button {
    display: inline-block; /* displays the buttons side-by-side */
    margin-top: 10px; /* Making space from top margin */
}

/*
#button1 {
    margin: 0 auto;
    margin-top: 10px;
    display: block;
}

#button2 {
    margin: 0 auto;
    margin-top: 10px;
    display: block;
}
*/
/*
#data{
    width: 600px;
    border: 1px dashed black;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
}

#logo {
    width: 320px; height: 320px;
    margin: 0 auto;
    margin-top: 50px;
    display: block;

}

#menu, #category-select{
    width: 150px; height: 32px;
    margin: 0 auto;
    margin-top: 50px;
    display: block;
}
*/